@model InventarioViewModel.Login
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutauth.cshtml";
}

<div class="nk-block-head">
    <div class="nk-block-head-content">
        <h5 class="nk-block-title">Restablecer la contraseña</h5>
        <div class="nk-block-des">
            <p>
                Si olvidaste tu contraseña, te enviaremos un correo electrónico con instrucciones para restablecer
                la contraseña.
            </p>
        </div>
    </div>
</div><!-- .nk-block-head -->
<form action="#" class="form-validate is-alter" autocomplete="off">
    @if (ViewBag.isToken == false)
    {
        <div class="form-group">
            <div class="form-label-group">
                <label class="form-label" for="email-address">Correo Electrónico</label>
            </div>
            <div class="form-control-wrap">
                <input name="user" autocomplete="off" type="email" class="form-control form-control-lg" required id="email-address" placeholder="Captura tu correo electrónico">
            </div>
        </div>
        <div class="form-group">
            <button id="btnReset" class="btn btn-lg btn-primary btn-block">Enviar instrucciones</button>
        </div>
        <!-- .form-group -->
    }
    else
    {
        <div class="form-group">
            <div class="form-label-group">
                <label class="form-label" for="password">Contraseña</label>
            </div>
            <div class="form-control-wrap">
                <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                    <em class="passcode-icon icon-show icon ni ni-eye"></em>
                    <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                </a>
                <input name="password" autocomplete="new-password" type="password" class="form-control form-control-lg" required id="password" placeholder="Captura tu contraseña">
            </div>
        </div>

        <!-- .form-group -->
        <div class="form-group">
            <div class="form-label-group">
                <label class="form-label" for="password">Repetir la contraseña</label>
            </div>
            <div class="form-control-wrap">
                <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="rpassword">
                    <em class="passcode-icon icon-show icon ni ni-eye"></em>
                    <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                </a>
                <input autocomplete="new-password" type="password" class="form-control form-control-lg" required equalTo="#password" id="rpassword" placeholder="Captura tu contraseña">
            </div>
        </div>

        <input type="hidden" name="token" value="@ViewBag.Token">
        <!-- .form-group -->
        <button id="btnChangePass" class="btn btn-lg btn-primary btn-block">Establecer contraseña</button>
    }



</form><!-- form -->
<div class="form-note-s2 pt-4">
    Ya tienes cuenta? <a href="~/Login">Entrar al sistema</a>
</div>


<!-- wrap s -->
@section Scripts{
    <script>
        $("#btnReset").click(function (event) {
            event.preventDefault();
            var form = $(this).closest('form');
            form.validate();
            if (!form.valid()) {
                return;
            }
            system.save(
                urlGeneral + 'ResetUser/SendInstruction',
                form, function (response) {
                    $("#btnReset").prop('disabled', false)
                    if (response.isSuccess == true) {
                        system.clear(form);
                        Swal.fire("Excelente!", response.message, "success");
                    } else {
                        Swal.fire("Error!", response.message, "error");
                    }
                },
                $("#btnReset")
            );
        });

        $("#btnChangePass").click(function (event) {
            event.preventDefault();
            var form = $(this).closest('form');
            form.validate();
            if (!form.valid()) {
                return;
            }
            system.save(
                urlGeneral + 'ResetUser/Reset',
                form, function (response) {
                    if (response.isSuccess == true) {
                        system.clear(form);
                        Swal.fire("Excelente!", response.message, "success").then(function (result) {
                            window.location.href = urlGeneral + "Login";
                        });
                    } else {
                        Swal.fire("Error!", response.message, "error");
                    }
                },
                $("#btnChangePass")
            );
        });
    </script>
            }