@{
    ViewData["Title"] = "Contactos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="nk-content-inner">
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Contactos</h3>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
                            <em class="icon ni ni-more-v"></em>
                        </a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-right click-search">
                                            <em class="icon ni ni-search"></em>
                                        </div>
                                        <input id="txtSearchInput" type="text" class="form-control input-search-text" placeholder="Buscar contacto">
                                    </div>
                                </li>
                                <li>
                                    <p class="fw-bold m-1">Mostrar: </p>

                                    <div class="form-group">
                                        <div class="form-control-wrap ">
                                            <select class="form-select showrecords">
                                                <option value="10" selected>10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                @if (ViewBag.tPermiso.Agregar == true)
                                {
                                    <li class="nk-block-tools-opt">
                                        <a href="#" data-target="addContacto" class="toggle btn btn-icon btn-primary d-md-none btn-add-usuario"><em class="icon ni ni-plus"></em></a>
                                        <a href="#" data-target="addContacto" class="toggle btn btn-primary d-none d-md-inline-flex btn-add-usuario"><em class="icon ni ni-plus"></em><span>Agregar</span></a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div id="divLista" class="nk-block">
        </div><!-- .nk-block -->
        <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addContacto" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Contacto</h5>
                    <div class="nk-block-des">
                        <p>Aquí puedes administrar tus contactos.</p>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            <div class="nk-block">

                <div class="row g-3">
                    <div class="col-12">
                        <form id="formSend" action="~/Contactos/Save" class="form-validate is-alter" method="post" autocomplete="off" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="Tipo" class="custom-control-input" required value="Cliente">
                                    <label class="custom-control-label" for="customRadio1">Cliente</label>
                                </div>
                                <div class="custom-control custom-radio" style="margin-left:30px;">
                                    <input type="radio" id="customRadio2" name="Tipo" class="custom-control-input" required value="Proveedor">
                                    <label class="custom-control-label" for="customRadio2">Proveedor</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="nombre">Nombre</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control input-text-clear" id="nombre" name="Nombre" maxlength="150" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="direccion">Direccion</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control input-text-clear" id="direccion" name="Direccion" maxlength="210" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="form-label" for="telefono">Telefono</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control input-text-clear" id="telefono" name="Telefono" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label" for="extension">Extensión</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control input-text-clear" id="extension" name="Extension" maxlength="20">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="email">Email</label>
                                <div class="form-control-wrap">
                                    <input type="email" class="form-control input-text-clear" id="email" name="Email" maxlength="120" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label">Empresa</label>
                                <div class="form-control-wrap">
                                    <select class="form-select input-text-clear" name="EmpresaId" id="empresaId">
                                        <option value="">Selecciona una opción</option>
                                        @foreach (var item in ViewBag.Empresas)
                                        {
                                            <option value="@item.Id">@item.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <input type="hidden" class="input-text-clear" id="txtId" name="Id" />
                        </form>

                    </div>

                    <div class="col-7">
                        <button id="btnSaveInfoModal" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Guardar información</span></button>

                    </div>
                    <div class="col-5">
                        <button onclick="" class="toggle btn btn-light" data-target="addContacto"><em class="icon ni ni-arrow-right-c"></em><span>Cancelar</span></button>
                    </div>
                </div>


            </div><!-- .nk-block -->
        </div>
    </div>
</div>
@section Scripts{
    <script>
        loadDiv("?reg=" + $(".showrecords").val())
        function loadDiv(parametros) {
            $("#divLista").load(urlGeneral + "Contactos/Lista" + parametros, function () { });
        }

        $(".showrecords").change(function () {
            loadDiv("?page=1&texto=" + $("#txtSearchInput").val() + "&reg=" + $(".showrecords").val());
        });

        $('.input-search-text').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                loadDiv("?page=1&texto=" + $("#txtSearchInput").val() + "&reg=" + $(".showrecords").val());
            }
        });

        $(".click-search").click(function () {
            loadDiv("?page=1&texto=" + $("#txtSearchInput").val() + "&reg=" + $(".showrecords").val());
        });
        $(".btn-add-usuario").click(function () {
            $(".input-text-clear").val("");
            $("#empresaId").trigger('change');
        })

        $("#btnSaveInfoModal").click(function (event) {
            event.preventDefault();
            var form = $("#formSend");
            form.validate();
            if (!form.valid()) {
                return;
            }
            system.saveUpload(
                urlGeneral + 'Contactos/Save',
                form, function (response) {
                    $("#btnSaveInfoModal").prop('disabled', false)
                    if (response.isSuccess == true) {
                        loadDiv("?page=1&texto=" + $("#txtSearchInput").val() + "&reg=" + $(".showrecords").val())
                        system.clear(form);
                        Swal.fire("Excelente!", response.message, "success");
                    } else {
                        Swal.fire("Error!", response.message, "error");
                    }
                },
                $("#btnSaveInfoModal"));
        });


    </script>
}
