
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutAuth.cshtml";
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="~/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form id="formLogin" action="" autocomplete="off">
                        <input name="ReturnUrl" type="hidden" value="@Context.Request.Query["ReturnUrl"].ToString()"/>
                        <div class="form-group">
                            <label>Correo electronico</label>
                            <input name="user" type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input name="password" type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Recordarme
                            </label>
                            <label class="pull-right">
                                <a href="#">Olvidaste tu contraseña?</a>
                            </label>
                        </div>
                        <button id="btnEntrar" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Acceder</button>
                        <div class="register-link m-t-15 text-center">
                            <p>No tienes una cuenta creada? <a href="#"> Registrate aqui</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>



@section Scripts {
<script>
$("#btnEntrar").click(function(event){
    event.preventDefault();
    debugger;
    var form = $(this).closest('form');
    form.validate();
    if(!form.valid()){
        return;
    }
    var formData = new FormData($("#formLogin")[0]);
            system.save(urlGeneral + 'Login/Validate', formData, function (response) {
        if(response.isSuccess == true){
            swal.fire({
                title: "",
                text: response.message,
                type: "success",
                confirmButtonClass: "btn btn-success btn-flat m-b-30 m-t-30",
                allowOutsideClick: false
            });
        } else{
            swal.fire({
                title: "",
                text: response.message,
                type: "error",
                confirmButtonClass: "btn btn-success btn-flat m-b-30 m-t-30",
                allowOutsideClick: false
            });
        }
    });
});
</script>
}

