@{
    ViewData["Title"] = "Acceso denegado";
    Layout = "~/Views/Shared/_LayoutErrores.cshtml";
}
<div class="nk-block-content nk-error-ld text-center">
    <h1 class="nk-error-head">403</h1>
    <h3 class="nk-error-title">¡Ups! ¿Por qué estás aquí?</h3>
    <p class="nk-error-text">Lamentamos mucho las molestias. Parece que está intentando acceder a una página que no tienes permiso para visitarla.</p>
    <a href="~/" class="btn btn-lg btn-primary mt-2">Regresar al inicio</a>
</div>